openapi: 3.0.0
info:
  title: Spot by NetApp Audit Service Insights Service API
  description: Spot by NetApp (formerly Spot by Flexera, originally Spotinst) is a cloud infrastructure optimization platform providing automated cost optimization, scaling, and management for cloud workloads across AWS, Azure, and GCP. The API enables management of Elastigroup (intelligent auto-scaling groups), Ocean (container and Kubernetes cost optimization), Stateful Nodes, EMR Scaler, and cloud security posture through a unified REST interface. Supports Bearer Token authentication against the Spot platform API.
  version: '1.0'
  contact:
    email: support@spot.io
    url: https://docs.spot.io/
  termsOfService: https://spot.io/terms-of-service/
  x-logo:
    url: https://spec.dev.spot.io/flexera-spot.png
    altText: Spot by NetApp
servers:
- url: https://api.spotinst.io
  description: Production server
security:
- BearerAuth: []
tags:
- name: Insights Service
paths:
  /insights/summary:
    get:
      operationId: getCostSummary
      summary: Get Cost Summary
      description: Retrieve a summary of cloud cost savings achieved through Spot optimization.
      tags:
      - Insights Service
      parameters:
      - name: accountId
        in: query
        required: false
        schema:
          type: string
      - name: fromDate
        in: query
        required: false
        schema:
          type: string
          format: date
      - name: toDate
        in: query
        required: false
        schema:
          type: string
          format: date
      responses:
        '200':
          description: Cost savings summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CostSavings'
components:
  schemas:
    CostSavings:
      type: object
      properties:
        actualCost:
          type: number
          format: float
          description: Actual spend with Spot optimization
        potentialCost:
          type: number
          format: float
          description: What cost would be without optimization
        savings:
          type: number
          format: float
        savingsPercentage:
          type: number
          format: float
        currency:
          type: string
          default: USD
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
